 /* form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
  } */
  
  /* label {
    font-size: 16px;
    font-weight: bold;
  } */
  
  input[type="text"] {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    outline: none;
    line-break: anywhere;
    border-radius: 4px;
    width: 100%;
    resize: vertical;
  }

  .weight-doc input{
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    outline: none;
    line-break: anywhere;
    border-radius: 4px;
    width: 100%;
    resize: vertical;
  }

  input[type="password"] {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  input[type="text"]:focus {
    outline: none;
    border: 1px solid #0077cc;
  } 
  
  button {
    font-size: 16px;
    font-weight: bold;
    background-color: #41c24a;
    /* color: #fff; */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  
  button:focus {
    outline: none;
  }
  
  /* .subtopic {
    margin-left: 20px;
  }
  
  .supdetail {
    margin-left: 40px;
  } */
   