@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.container {
  max-width: 60%;
  margin: 50px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(70, 180, 134);
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}
.container2 {
  max-width: 60%;
  margin: 50px auto;
  /* min-height: 700px; */
  border: 1px solid rgb(70, 180, 134);
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn3 {
  display: inline-block;
  background: rgb(180, 248, 208);
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.showquizlist{
  margin-top: 200px;
}

.btn2 {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block2 {
  display: block;
  width: 29%;
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  /* cursor: pointer; */
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
  
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.login-form {
  margin: auto;
  margin-top: 100px;
  width: 600px;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  box-shadow: 1px 0px 5px 2px #5a5a5a69;
  padding: 80px;
  border-radius: 10px;
}
.login-form input{
  margin-left: 10px;
}

.login-btn{
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  padding: 2px 2px;
}

.navbar-con{
  background-color: white(167, 237, 167);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
  box-shadow: 1px 0px 3px 2px #5a5a5a69;
}

.navbar-box{
  /* margin-right: 6px; */
  display: inline-block;
  background: white;
  color: black;
  border: none;
  padding: 15px;
  padding-left: 10px;
  padding-right: 10px;
  /* border-radius: 5px; */
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.navbar-box:hover{
  background-color: rgb(204, 242, 236);
  transition: 0.2s;
}

.navbar-box2{
  position: absolute;
  right: 2%;
  padding: 10px;
  display: inline-block;
  margin-top: 10px;
  background: rgb(221, 140, 140);
  color: #fff;
  border: none;
  padding: 5px;
  /* margin: 5px; */
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.navbar-box2:hover{
  background-color: rgb(230, 25, 25);
  transition: 0.1s;
}

.box-login{
  margin-top: 4px;
}

.pig-logo{
  max-width: 250px;
  margin-bottom: 30px;
}
.pig-home{
  max-width: 100%;
}

.quiz-ans{
  margin-right: 10px;
  max-width: 20%;
}
.quiz-form label{
  margin-left: 5%;
}
.quiz-form{
  margin-top: 1.5%;
}